<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="lessons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Pet Depot</title>
    
    <link rel="manifest" href="petstore1.webmanifest">

    <style>
    .product{
        border: 1px grey solid;
        padding: 20px;
        margin: 20px;
        text-align: center;
    }
    </style>


    <script>
        if('serviceWorker' in navigator){
            navigator.serviceWorker.register('service-worker.js');
        };
        </script>
</head>
<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-on: click="showCheckout">
                {{cartItemCount}}

                <span class="fas fa-cart-plus"></span>
                Checkout
              </button>
        </header>
        <main>
            <div v-if='showProduct'> 
                <div class="product" v-for="product in sortProducts">
    
            <h2 v-text="product.title"></h2>
            <figure>
                <img v-bind:src="product.image" width="200" height="400">
            </figure>
            <p v-html="product.description"></p>
            <p>Price: {{product.price}}</p>
            <p>Units Available = {{product.availableInventory}}</p>
            <button v-on:click='addToCart(product)' v-if='canAddToCart(product)'>Add to cart</button>
            <button disabled="disabled" v-else>Add to cart</button>
                  <!-- Space availability message -->
                  <span v-if='product.availableInventory === cartCount(product.id)'>Sold Out!!</span>
                  <span v-else-if="product.availableInventory - cartCount(product.id) < 5" >
                    only {{ product.availableInventory - cartCount(product.id) }} Left!!
                  </span>
                  <span v-else>Buy Now!</span>
                  
                  <div>
                      <span v-for='n in product.rating'>★</span>
                      <span v-for='n in 5-product.rating'>☆</span>
                    </div>
            
        </div>
            </div>

            <div v-else>
                <h2>Checkout</h2>
                <p>
                    <strong>First Name:</strong>
                    <input v-model="order.firstname">
                </p>

                <p>
                    <strong>Last Name:</strong>
                    <input v-model="order.lastname">
                </p>

                <h2>Order Information</h2>
                <p>First name: {{order.firstname}}</p>
                <p>Last name: {{order.lastname}}</p>
                <p>Address: {{order.address}}</p>
                <p>City: {{order.city}}</p>
                <p>Zip: {{order.zip}}</p>
                <p>State: {{order.state}}</p>
                <p>Gift: {{order.gift}}</p>

                <p><strong>Address:</strong> <input v-model='order.address'/></p>
                <p><strong>City:</strong> <input v-model='order.city'/></p>
                <p><strong>State:</strong> <select v-model='order.state' class='form-control'> 
                    <option disabled value="">State</option>
                    <option v-for="(state, key) in states" v-bind:value="state">{{key}}</option>
                </select></p>        
                <p><strong>Zip:</strong> <input type="number" v-model='order.zip'/></p>
                <p><input type="checkbox" id="gift" value="true" v-model="order.gift" v-bind:true-value="order.sendGift" v-bind:false-value="order.dontSendGift" />
                    <label for="gift">Ship As Gift?</label></p>
                <p><input type="radio" id="home" value="Home" v-model="order.method">
                    <label for="home">Home</label> <input type="radio" id="business" value="Business" v-model="order.method">
                    <label for="business">Business</label></p>
                    
                    <button v-on:click="submitForm">PlaceOrder</button>    

            </div>

        </main>
    </div>

    <script>
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'Vue js Pet Depot',
                products: products,
                
                order:{
                    firstname: '',
                    lastname: '',
                    address: '',
                    city: '',
                    zip: '',
                    state: '',
                    method: 'Home',
                    gift: false,
                    sendGift: 'Send as a gift',
                    dontSendGift: 'Do not send as a gift',
                   
                },
                states: ['Alabama','Arizona','California','Nevada'],
                cart: [],
                showProduct: true,
            },
            methods: {
                addToCart(product) {
                    this.cart.push(this.product.id);
                },
                showCheckout() {
                    // console.log(this.showProduct);
                    this.showProduct = this.showProduct ? false : true;
                },
                submitForm(){
                    alert('Order Submitted!');
                },
                canAddToCart(product) {
                    return product.availableInventory > this.cartCount(product.id);
                },
                cartCount(id) {
                    let count = 0; for(let i = 0; i < this.cart.length; i++) 
                    {
                        if (this.cart[i] === id) {
                            count++;           
                        }    
                    }
                    return count;
                    },
            },
            computed: {
                cartItemCount() {
                    return this.cart.length ;
                },
                sortProducts() {
              let productsArray = this.products.slice(0);
              function compare(a, b) {
                if (a.price > b.price)
                return 1;
                if (a.price < b.price) 
                return -1;
                return 0;
              }
              return productsArray.sort(compare);
            }
            },
        });
    </script>
</body>
</html>